# Carpetas de compilación (Maven, IntelliJ, Gradle)
target/
out/
bin/
build/

# Configuraciones de IDEs (IntelliJ, Eclipse, NetBeans, VS Code)
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/

# Archivos del sistema y temporales
HELP.md
.kotlin
Thumbs.db
.DS_Store


# Carpetas de construcción de Gradle (Temporal)
.gradle/
build/

# Archivos y carpetas del entorno de Project IDX / VS Code
.idx/
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db