# 1. Carpetas de Compilación y Construcción
.gradle/
build/
target/
out/
bin/
# 2. Configuraciones de Entornos (IDEs & IDX)
# Project IDX y VS Code
.vscode/
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
# NetBeans, Eclipse y otros
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
# 3. Archivos del Sistema y Temporales
.DS_Store
Thumbs.db
HELP.md